.u-i-footer-light-container {
  min-height: 100vh;
}
.u-i-footer-light-u-i-footer-light {
  width: 100%;
  height: 376px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0px;
  background-color: rgba(228, 241, 255, 1);
}
.u-i-footer-light-column05 {
  top: 132.00003051757812px;
  left: 405px;
  width: 1110px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  justify-content: space-between;
}
.u-i-footer-light-text {
  height: auto;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.u-i-footer-light-pospay-komunitas2 {
  width: 460px;
  height: 111.94792175292969px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.u-i-footer-light-logo-config2diapositifblack {
  top: 0px;
  left: 0px;
  width: 460px;
  height: 95.59339141845703px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.u-i-footer-light-logoconfig2black1 {
  top: 4.547473508864641e-13px;
  left: 151.26119995117188px;
  width: 309px;
  height: 96px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.u-i-footer-light-logoconfig11 {
  top: 0px;
  left: 0px;
  width: 136px;
  height: 96px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.u-i-footer-light-text2 {
  top: 84.76729583740234px;
  left: 230.11517333984375px;
  color: rgba(236, 103, 21, 1);
  height: auto;
  position: absolute;
  font-size: 29.484224319458008px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Futura;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
